data/**
!data/**/
!data/**/.gitkeep
artifacts/**
!artifacts/**/
!artifacts/**/.gitkeep
results/**
!results/**/
!results/**/.gitkeep
*.zarr/
*.memmap
*.npy
*.SAFE/
*.tif
*.ckpt
*.pth
*.sh
*.safetensors
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/
.venv/
.env